@import '@/presentation/styles/colors.scss';

.field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5px;

    & + .field {
        margin-top: 10px;
    }
}

.fieldContainer {
    width: 100%;
    display: flex;
    align-items: center;

    & + .fieldContainer {
        margin-top: 5px;
    }

    svg {
        margin-left: 10px;
    }

}

.itemFieldsList {
    margin-bottom: 10px;
}

.fieldsHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.actionsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    button {
        & + button {
            margin-left: 5px;
        }
    }
}

.fieldInput {
    padding: 5px 10px;
    border: 1px solid $greyBaseline;
    border-radius: 5px;
    width: 100%;
}

