@import '@/presentation/styles/colors.scss';

.buttonContainer {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
}

.default {
    color: $dark;
    border: 1px solid $dark;

    &:hover {
        color: $light;
        background-color: $dark;
        border: 1px solid $dark;
    }
}

.success {
    color: $success;
    border: 1px solid $success;

    &:hover {
        color: $light;
        background-color: $success;
        border: 1px solid $success;
    }
}

.warning {
    color: $error;
    border: 1px solid $error;

    &:hover {
        color: $light;
        background-color: $error;
        border: 1px solid $error;
    }
}

.light {
    color: $light;
    border: 1px solid $light;

    &:hover {
        color: $dark;
        background-color: $light;
        border: 1px solid $light;
    }
}

.buttonIconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 5px;
}

.buttonContentWrapper {
    flex: 1;
}