@import '@/presentation/styles/colors.scss';

.modalContainer {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    background-color: $light;
    
    border-radius: 10px;
}

.modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    svg {
        cursor: pointer;
    }
}

.modalBody {
    padding: 10px;
}

.modalBackground {
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparentize($color: $dark, $amount: 0.3);
}