@import '@/presentation/styles/colors.scss';

.noteContainer {
    width: 100%;
    background-color: $principal;
    border-radius: 5px;
    
    box-shadow: 3px 10px 22px 0px rgba(0,0,0,0.22);

    & + .noteContainer {
        margin-top: 30px;
    }
}

.allItensDone {
    background-color: $greyBaseline;
}

.noteHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    cursor: pointer;
    color: $light;
}

.noteBody {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
    transition: transform 0.1s linear;
}

.noteTitle {
    font-size: 25px;
    color: $light;
    flex-grow: 1;
}

.noteControllers {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;

    button + button{
        margin-left: 5px;
    }
}