.actionsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    
    button {
        & + button {
            margin-left: 5px;
        }
    }
}